Sprint 2/Desafio/Teste
Sprint 4/Desafio/Video
Sprint 5/Desafio/Video
Sprint 6/Desafio/csv/movies.csv
Sprint 6/Desafio/csv/series.csv
Sprint 6/Desafio/Video
Sprint 7/Desafio/scripts/tmdb_request_api_backup.py
Sprint 8/Desafio/csv/movies.csv
Sprint 8/Desafio/scripts/script_trusted_csv_backup.py
Sprint 8/Desafio/scripts/script_trusted_json_backup.py
Sprint 8/Exercicios/SPARK_BATCH/txt/nomes_aleatorios.txt
Sprint 8/Desafio/csv/series.csv
Sprint 10/Desafio/perguntas_desafio.md
Sprint 10/Desafio/quicksight/imagens
